<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About route</title>

    <link rel="stylesheet" href="<%= assetsMap.about.css %>">
</head>
<body>

    <div class="wrapper">
        <section class="section section-hero about-view--hero">
            <nav class="main-navigation">
                <div class="navigation-logo-wrapper">
                    <a href="/">
                        <figure class="heading-logo-image">
                            <img src="/images/logos/mflogo.png" alt="Monty Farms Logo">
                        </figure>
                    </a>
                </div>

                <div class="navigation-list-wrapper">
                    <ul>
                        <li>
                            <a class="navLink" href="/">Home</a>
                        </li>
                        <li>
                            <a class="navLink" href="/about">About Us</a>
                        </li>
                        <li>
                            <a class="navLink" href="/products">Our Products</a>
                        </li>
                        <li>
                            <a class="navLink" href="/responsibilities">Responsibilities</a>
                        </li>
                        <li>
                            <a class="navLink" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="hero-background-container">
                <div rel="img" class="hero-background-image" aria-label="Monty Farms, a member of Monty Group, is a leading international supplier of fresh fruits and vegetables"></div>
            </div>

            <div class="hero-container">
                <div class="hero-heading section-heading">
                    <div class="heading-underline">
                        <div class="heading-container white-heading">
                           <h1>About Us</h1>
                        </div>
                    </div>
                    <p class="hero-blurb heading-blurb">Monty Farms, a member of Monty Group, is a leading international supplier of fresh fruits and vegetables, with over 20,000,000 kgs of fresh food and processed goods shipped every year.</p>
                </div>
            </div>
        </section>

        <section class="section about-view--core">
            <div class="section-container">

            </div>
        </section>

        <section class="section about-view--values">
            <div class="section-container">
                <div class="section-heading">
                    <div class="heading-container white-heading">
                       <h1 class="hero-heading">Our values</h1>
                    </div>

                    <div class="values-slider">

                        <div class="values-container">
                            <h3>Entrepreneurship</h3>
                            <figure>
                                <img src="/images/about/values/entrepre-icon.png" alt="">
                            </figure>
                        </div>

                        <div class="values-container">
                            <h3>Integrity</h3>
                            <figure>
                                <img src="/images/about/values/integrity-icon.png" alt="">
                            </figure>
                        </div>

                        <div class="values-container">
                            <h3>Excellence</h3>
                            <figure>
                                <img src="/images/about/values/excellence-icon.png" alt="">
                            </figure>
                        </div>

                        <div class="values-container">
                            <h3>Sustainability</h3>
                            <figure>
                                <img src="/images/about/values/sustain-icon.png" alt="">
                            </figure>
                        </div>

                        <div class="values-container">
                            <h3>Teamwork</h3>
                            <figure>
                                <img src="/images/about/values/teamwork-icon.png" alt="">
                            </figure>
                        </div>
                    </div>

                    <p class="hero-blurb heading-blurb">Excellence comes in many forms, and at the Monty Group, we know that it means more than just operating a profitable business. We let our desire for excellence permeate through every facet of the company. We pride ourselves on a culture of exemplary professionalism and treating everyone with the utmost respect.</p>
                </div>
            </div>
        </section>

        <section class="section about-view--people">
            <div class="hero-background-container">
                <div rel="img" class="hero-background-image" aria-label="Monty Farms, Guillermo Matuty, Jose Javier Suazo, Erick Pena."></div>
            </div>

            <div class="section-container">
                <div class="section-heading">
                    <div class="heading-container green-heading">
                       <h1 class="hero-heading">Our people</h1>
                    </div>
                </div>

                <div class="people-container">
                    <div class="people-banner">
                        <figure>
                            <img src="/images/about/bio/guillermo-matuty.png" alt="Guillermo Antonio Matuty Reina">
                        </figure>
                        <div class="people-content">
                            <h3>Guillermo Antonio Matuty Reina</h3>
                            <p>13 years working for the Monty group, in the following positions: Plant Manager at the processing division, Administrative and Finance Manager, Vice-president of the Honduras Operations. Experience in Food technology, food engi neering, Administration, Accounting, Finance, Budget elaboration and control, Operations, agriculture crop management.</p>
                        </div>
                    </div>

                    <div class="people-banner">
                        <figure>
                            <img src="/images/about/bio/javier-suazo.png" alt="Jose Javier Suazo Chavarria">
                        </figure>
                        <div class="people-content">
                            <h3>Jose Javier Suazo Chavarria</h3>
                            <p>I have more than 25 years of work experi ence, especially in the areas of Administra tion, Accounting, Finance and Budget control, as well as Operations (Procurement, Inventory, Exports, Logistics, and IT) in diverse industries. I ́ve been working for almost a year in Monty Group, but with experience in other agricultural export companies.</p>
                        </div>
                    </div>

                    <div class="people-banner">
                        <figure>
                            <img src="/images/about/bio/erick-pena.png" alt="Erick Gerardo Peña">
                        </figure>
                        <div class="people-content">
                            <h3>Erick Gerardo Peña</h3>
                            <p>Erick has spent over 13 years as a valued member of the Monty Group. He has held numerous positions including Plant Manager (Processing Division), Administrative and Finance Manager and Vice-President of Operations (Honduras). Erick’s areas of exper- tise include food technology, food engineer- ing, agricultural crop management, account- ing, finance, budget elaboration and control and administration and operations.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="section about-view--certif">
            <div class="section-container">
                <div class="section-heading">
                    <div class="heading-container green-heading">
                       <h1 class="hero-heading">certification</h1>
                    </div>
                </div>

                <div class="certif-container">
                    <figure class="certif-icon">
                        <img src="/images/about/certification/okogranite-cert.png" alt="OKO Granite Certification">
                    </figure>
                    <figure class="certif-icon">
                        <img src="/images/about/certification/sedex-cert.png" alt="Sedex Certification">
                    </figure>
                    <figure class="certif-icon">
                        <img src="/images/about/certification/globalgap-cert.png" alt="Global Gap Certification">
                    </figure>
                    <figure class="certif-icon">
                        <img src="/images/about/certification/primus-cert.png" alt="Primus GFS Certification">
                    </figure>
                    <figure class="certif-icon">
                        <img src="/images/about/certification/sgs-cert.png" alt="SGS Certification">
                    </figure>
                </div>
            </div>
        </section>

        <section class="section about-view--friends">
            <div class="section-container">
                <div class="section-heading">
                    <div class="heading-container green-heading">
                       <h1 class="hero-heading">friends of the farm</h1>
                    </div>
                </div>

                <div class="friends-container">
                    <figure class="friends-logo">
                        <img src="/images/logos/waitrose-logo.svg" alt="Waitrose Logo">
                    </figure>
                    <figure class="friends-logo">
                        <img src="/images/logos/morrisons-logo.svg" alt="Morrisons Logo">
                    </figure>
                    <figure class="friends-logo">
                        <img src="/images/logos/tesco-logo.svg" alt="Tesco Logo">
                    </figure>
                    <figure class="friends-logo">
                        <img src="/images/logos/asda-logo.svg" alt="ASDA Logo">
                    </figure>
                    <figure class="friends-logo">
                        <img src="/images/logos/waitrose-logo.svg" alt="Waitrose Logo">
                    </figure>
                    <figure class="friends-logo">
                        <img src="/images/logos/sainsbury-logo.svg" alt="Sainsbury's Logo">
                    </figure>
                    <figure class="friends-logo">
                        <img src="/images/logos/pigglywiggly-logo.svg" alt="PigglyWiggly Logo">
                    </figure>
                    <figure class="friends-logo">
                        <img src="/images/logos/coop-logo.svg" alt="COOP Logo">
                    </figure>
                    <figure class="friends-logo">
                        <img src="/images/logos/walmart-logo.svg" alt="Walmart Logo">
                    </figure>
                    <figure class="friends-logo">
                        <img src="/images/logos/lidl-logo.svg" alt="LIDL Logo">
                    </figure>
                    <figure class="friends-logo">
                        <img src="/images/logos/kroger-logo.svg" alt="Kroger Logo">
                    </figure>
                    <figure class="friends-logo">
                        <img src="/images/logos/winndixie-logo.svg" alt="Winn Dixie Logo">
                    </figure>
                    <figure class="friends-logo">
                        <img src="/images/logos/savealot-logo.svg" alt="Save alot Logo">
                    </figure>
                    <figure class="friends-logo">
                        <img src="/images/logos/aldi-logo.svg" alt="ALDI Logo">
                    </figure>
                    <figure class="friends-logo">
                        <img src="/images/logos/freshmarket-logo.svg" alt="The Fresh Market Logo">
                    </figure>
                </div>
            </div>
        </section>

        <footer class="section-footer">
            <div class="footer-left">
                <figure class="footer-mf-logo">
                    <img src="/images/logos/mflogo.png" alt="Monty Farms Logo">
                </figure>
            </div>

            <div class="footer-center">
                <div class="footer-nav-wrapper">
                    <ul>
                        <li>
                            <a class="navLink" href="/">Home</a>
                        </li>
                        <li>
                            <a class="navLink" href="/about">About Us</a>
                        </li>
                        <li>
                            <a class="navLink" href="/products">Products</a>
                        </li>
                        <li>
                            <a class="navLink" href="/responsibilities">Responsibilities</a>
                        </li>
                        <li>
                            <a class="navLink" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>

                <p class="footerCopyright"><span id="footerCopy"></span> Monty Group All Rights Reserved.</p>
            </div>

            <div class="footer-right">
                <figure class="footer-mg-logo">
                    <img src="/images/logos/mglogo.png" alt="Monty Group Logo">
                </figure>
            </div>
        </footer>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="<%= assetsMap.about.js %>"></script>
</body>
</html>
