<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About route</title>

    <link rel="stylesheet" href="<%= assetsMap.about.css %>">
    <!-- <link rel="stylesheet" href="/css/about.css"> -->
</head>
<body>

    <div class="wrapper">
        <section class="section section-hero about-view--hero">
            <nav class="main-navigation">
                <div class="navigation-logo-wrapper">
                    <a href="/">
                        <figure class="heading-logo-image">
                            <img src="/images/logos/mflogo.png" alt="Monty Farms Logo">
                        </figure>
                    </a>
                </div>

                <button class="hamburger hamburger--slider" id="mobileNavBtn">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>

                <div class="navigation-list-wrapper">
                    <ul>
                        <li>
                            <a class="navLink" href="/">Home</a>
                        </li>
                        <li>
                            <a class="navLink active" href="/about">About Us</a>
                        </li>
                        <li>
                            <a class="navLink" href="/products">Our Products</a>
                        </li>
                        <li>
                            <a class="navLink" href="/responsibilities">Responsibilities</a>
                        </li>
                        <li>
                            <a class="navLink" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="hero-background-container">
                <div rel="img" class="hero-background-image" aria-label="Monty Farms, a member of Monty Group, is a leading international supplier of fresh fruits and vegetables"></div>
            </div>

            <div class="hero-container">
                <div class="hero-heading section-heading">
                    <div class="heading-underline waypoint">
                        <div class="heading-container white-heading waypoint" data="bottomToTop">
                           <h1>About Us</h1>
                        </div>
                    </div>
                    <p class="hero-blurb heading-blurb waypoint" data="bottomToTop">Monty Farms, a member of Monty Group, is a leading international supplier of fresh fruits and vegetables, with over 20,000,000 kgs of fresh food and processed goods shipped every year.</p>
                </div>
            </div>
        </section>

        <section class="section about-view--core">
            <div class="section-container">

                <div class="core-container">
                    <div class="core-contents" id="core-hectares">
                        <video id="hectares-video">
                          <source src="/images/about/hectares.mp4" type="video/mp4">
                        </video>
                        <div class="core-blurb">
                            <h4>more than 20</h4>
                            <p>of the worldʼs leading agricultural specialists come to evaluate and advise on its operations</p>
                        </div>
                    </div>

                    <div class="core-contents" id="core-countries">
                        <video id="countries-video">
                          <source src="/images/about/countries.mp4" type="video/mp4">
                        </video>
                        <div class="core-blurb">
                            <h4 class="core-inline large">15</h4>
                            <h5 class="core-inline">countries<br>served</h5>
                        </div>
                    </div>

                    <div class="core-contents" id="core-crops">
                        <video id="crops-video">
                          <source src="/images/about/crops.mp4" type="video/mp4">
                        </video>
                        <div class="core-blurb">
                            <h4>10,000+ hectares</h4>
                            <p>grown since its inception</p>
                        </div>
                    </div>

                    <div class="core-contents" id="core-scale">
                        <video id="scale-video">
                          <source src="/images/about/scale.mp4" type="video/mp4">
                        </video>
                        <div class="core-blurb">
                            <h4>20,000,000KG</h4>
                            <p>fresh food and processed goods shipped eery year</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section about-view--values">
            <div class="section-container">
                <div class="section-heading">
                    <div class="heading-container white-heading waypoint" data="bottomToTop">
                       <h1 class="hero-heading">Our values</h1>
                    </div>
                </div>

                <div class="values-carousel-section">
                    <div class="chevron-border carousel-prev"><span class="chevron"></span></div>

                    <div class="values-carousel-container" id="carousel-touch-container">
                        <!-- Values -->

                        <div class="values-carousel carousel-animate waypoint">
                            <div class="values-slide" id="slide-0" index="0" data-blurb="entrepreneurship">
                                <div class="slide-contents">
                                    <h3>Entrepreneurship</h3>
                                    <figure>
                                        <img class="values-icon" src="/images/about/values/entrepre-icon.svg" alt="Entrepreneurship">
                                    </figure>
                                </div>
                            </div>

                            <div class="values-slide" id="slide-1" index="1" data-blurb="integrity">
                                <div class="slide-contents">
                                    <h3>Integrity</h3>
                                    <figure>
                                        <img class="values-icon" src="/images/about/values/integrity-icon.svg" alt="Integrity">
                                    </figure>
                                </div>
                            </div>

                            <div class="values-slide" id="slide-2" index="2" data-blurb="excellence">
                                <div class="slide-contents">
                                    <h3>Excellence</h3>
                                    <figure>
                                        <img class="values-icon" src="/images/about/values/excellence-icon.svg" alt="Excellence">
                                    </figure>
                                </div>
                            </div>

                            <div class="values-slide" id="slide-3" index="3" data-blurb="sustainability">
                                <div class="slide-contents">
                                    <h3>Sustainability</h3>
                                    <figure>
                                        <img class="values-icon" src="/images/about/values/sustain-icon.svg" alt="Sustainability">
                                    </figure>
                                </div>
                            </div>

                            <div class="values-slide" id="slide-4" index="4" data-blurb="teamwork">
                                <div class="slide-contents">
                                    <h3>Teamwork</h3>
                                    <figure>
                                        <img class="values-icon" src="/images/about/values/teamwork-icon.svg" alt="Teamwork">
                                    </figure>
                                </div>
                            </div>

                            <div class="values-slide" id="slide-5" index="5" data-blurb="entrepreneurship">
                                <div class="slide-contents">
                                    <h3>Entrepreneurship</h3>
                                    <figure>
                                        <img class="values-icon" src="/images/about/values/entrepre-icon.svg" alt="Entrepreneurship">
                                    </figure>
                                </div>
                            </div>

                            <div class="values-slide" id="slide-6" index="6" data-blurb="integrity">
                                <div class="slide-contents">
                                    <h3>Integrity</h3>
                                    <figure>
                                        <img class="values-icon" src="/images/about/values/integrity-icon.svg" alt="Integrity">
                                    </figure>
                                </div>
                            </div>

                            <div class="values-slide" id="slide-7" index="7" data-blurb="excellence">
                                <div class="slide-contents">
                                    <h3>Excellence</h3>
                                    <figure>
                                        <img class="values-icon" src="/images/about/values/excellence-icon.svg" alt="Excellence">
                                    </figure>
                                </div>
                            </div>

                            <div class="values-slide" id="slide-8" index="8" data-blurb="sustainability">
                                <div class="slide-contents">
                                    <h3>Sustainability</h3>
                                    <figure>
                                        <img class="values-icon" src="/images/about/values/sustain-icon.svg" alt="Sustainability">
                                    </figure>
                                </div>
                            </div>

                            <div class="values-slide" id="slide-9" index="9" data-blurb="teamwork">
                                <div class="slide-contents">
                                    <h3>Teamwork</h3>
                                    <figure>
                                        <img class="values-icon" src="/images/about/values/teamwork-icon.svg" alt="Teamwork">
                                    </figure>
                                </div>
                            </div>

                            <div class="values-slide" id="slide-10" index="10" data-blurb="entrepreneurship">
                                <div class="slide-contents">
                                    <h3>Entrepreneurship</h3>
                                    <figure>
                                        <img class="values-icon" src="/images/about/values/entrepre-icon.svg" alt="Entrepreneurship">
                                    </figure>
                                </div>
                            </div>

                            <div class="values-slide" id="slide-11" index="11" data-blurb="integrity">
                                <div class="slide-contents">
                                    <h3>Integrity</h3>
                                    <figure>
                                        <img class="values-icon" src="/images/about/values/integrity-icon.svg" alt="Integrity">
                                    </figure>
                                </div>
                            </div>

                            <div class="values-slide" id="slide-12" index="12" data-blurb="excellence">
                                <div class="slide-contents">
                                    <h3>Excellence</h3>
                                    <figure>
                                        <img class="values-icon" src="/images/about/values/excellence-icon.svg" alt="Excellence">
                                    </figure>
                                </div>
                            </div>

                            <div class="values-slide" id="slide-13" index="13" data-blurb="sustainability">
                                <div class="slide-contents">
                                    <h3>Sustainability</h3>
                                    <figure>
                                        <img class="values-icon" src="/images/about/values/sustain-icon.svg" alt="Sustainability">
                                    </figure>
                                </div>
                            </div>

                            <div class="values-slide" id="slide-14" index="14" data-blurb="teamwork">
                                <div class="slide-contents">
                                    <h3>Teamwork</h3>
                                    <figure>
                                        <img class="values-icon" src="/images/about/values/teamwork-icon.svg" alt="Teamwork">
                                    </figure>
                                </div>
                            </div>

                        <!-- Values -->
                        </div>
                    </div>

                    <div class="chevron-border carousel-next"><span class="chevron"></span></div>
                </div>

                <div class="values-blurb-container">
                    <p class="hero-blurb heading-blurb values-blurb" id="entrepreneurship-blurb">We are committed to the development of Honduras and our corporate actions are aligned with national efforts in reducing poverty by stimulating the national production system and encouraging economic growth.</p>
                    <p class="hero-blurb heading-blurb values-blurb" id="integrity-blurb">We believe in delivering the freshest and most delicious products, grown and processed using honest and transparent practices in line with the highest international standards.</p>
                    <p class="hero-blurb heading-blurb values-blurb" id="excellence-blurb">At Monty Farms we only grow and export produce of the highest quality – delivering nature’s finest to our customers.</p>
                    <p class="hero-blurb heading-blurb values-blurb" id="sustainability-blurb">We recognize that environmental harmony is a fundamental concern in contemporary agricultural development. We believe climate change can only be addressed by a global effort where governments, businesses and citizens jointly participate. We are committed to sustainable farming practices and conservation of resources.</p>
                    <p class="hero-blurb heading-blurb values-blurb" id="teamwork-blurb">Our vertically integrated operation requires communication, coordination and cooperation between our many talented team members and teamwork has been at the heart of our success.</p>
                </div>
            </div>
        </section>

        <section class="section about-view--people">
            <div class="hero-background-container">
                <div rel="img" class="hero-background-image" aria-label="Monty Farms, Guillermo Matuty, Jose Javier Suazo, Erick Pena."></div>
            </div>

            <div class="section-container">
                <div class="section-heading">
                    <div class="heading-container green-heading waypoint" data="bottomToTop">
                       <h1 class="hero-heading">Our people</h1>
                    </div>
                </div>

                <div class="people-container">
                    <div class="people-banner">
                        <figure>
                            <img src="/images/about/bio/guillermo-matuty.png" alt="Guillermo Antonio Matuty Reina">
                        </figure>
                        <div class="people-content">
                            <h3>Guillermo Antonio Matuty Reina</h3>
                            <p>13 years working for the Monty group, in the following positions: Plant Manager at the processing division, Administrative and Finance Manager, Vice-president of the Honduras Operations. Experience in Food technology, food engineering, Administration, Accounting, Finance, Budget elaboration and control, Operations, agriculture crop management.</p>
                        </div>
                    </div>

                    <div class="people-banner">
                        <figure>
                            <img src="/images/about/bio/javier-suazo.png" alt="Jose Javier Suazo Chavarria">
                        </figure>
                        <div class="people-content">
                            <h3>Jose Javier Suazo Chavarria</h3>
                            <p>Jose has more than 25 years of work experience, especially in the areas of Administration, Accounting, Finance and Budget control, as well as Operations (Procurement, Inventory, Exports, Logistics, and IT) in diverse industries. Jose has been working for almost a year in Monty Group, but with experience in other agricultural export companies.</p>
                        </div>
                    </div>

                    <div class="people-banner">
                        <figure>
                            <img src="/images/about/bio/erick-pena.png" alt="Erick Gerardo Peña">
                        </figure>
                        <div class="people-content">
                            <h3>Erick Gerardo Peña</h3>
                            <p>Erick has spent over 13 years as a valued member of the Monty Group. He has held numerous positions including Plant Manager (Processing Division), Administrative and Finance Manager and Vice-President of Operations (Honduras). Erick’s areas of expertise include food technology, food engineering, agricultural crop management, accounting, finance, budget elaboration and control and administration and operations.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="section about-view--certif">
            <div class="section-container">
                <div class="section-heading">
                    <div class="heading-container green-heading waypoint" data="bottomToTop">
                       <h1 class="hero-heading">certification</h1>
                    </div>
                </div>

                <div class="certif-container">
                    <figure class="certif-icon waypoint" data="bottomToTop">
                        <img src="/images/about/certification/okogranite-cert.png" alt="OKO Granite Certification">
                    </figure>
                    <figure class="certif-icon waypoint" data="bottomToTop">
                        <img src="/images/about/certification/sedex-cert.png" alt="Sedex Certification">
                    </figure>
                    <figure class="certif-icon waypoint" data="bottomToTop">
                        <img src="/images/about/certification/globalgap-cert.png" alt="Global Gap Certification">
                    </figure>
                    <figure class="certif-icon waypoint" data="bottomToTop">
                        <img src="/images/about/certification/primus-cert.png" alt="Primus GFS Certification">
                    </figure>
                    <figure class="certif-icon waypoint" data="bottomToTop">
                        <img src="/images/about/certification/sgs-cert.png" alt="SGS Certification">
                    </figure>
                </div>
            </div>
        </section>

        <section class="section about-view--friends">
            <div class="section-container">
                <div class="section-heading">
                    <div class="heading-container green-heading waypoint" data="bottomToTop">
                       <h1 class="hero-heading">friends of the farm</h1>
                    </div>
                </div>

                <div class="friends-container">
                    <figure class="friends-logo waypoint" data="bottomToTop">
                        <img src="/images/logos/waitrose-logo.svg" alt="Waitrose Logo">
                    </figure>
                    <figure class="friends-logo waypoint" data="bottomToTop">
                        <img src="/images/logos/morrisons-logo.svg" alt="Morrisons Logo">
                    </figure>
                    <figure class="friends-logo waypoint" data="bottomToTop">
                        <img src="/images/logos/tesco-logo.svg" alt="Tesco Logo">
                    </figure>
                    <figure class="friends-logo waypoint" data="bottomToTop">
                        <img src="/images/logos/asda-logo.svg" alt="ASDA Logo">
                    </figure>
                    <figure class="friends-logo waypoint" data="bottomToTop">
                        <img src="/images/logos/publix-logo.svg" alt="Publix Logo">
                    </figure>
                    <figure class="friends-logo waypoint" data="bottomToTop">
                        <img src="/images/logos/sainsburys-logo.svg" alt="Sainsbury's Logo">
                    </figure>
                    <figure class="friends-logo waypoint" data="bottomToTop">
                        <img src="/images/logos/pigglywiggly-logo.svg" alt="PigglyWiggly Logo">
                    </figure>
                    <figure class="friends-logo waypoint" data="bottomToTop">
                        <img src="/images/logos/coop-logo.svg" alt="COOP Logo">
                    </figure>
                    <figure class="friends-logo waypoint" data="bottomToTop">
                        <img src="/images/logos/walmart-logo.svg" alt="Walmart Logo">
                    </figure>
                    <figure class="friends-logo waypoint" data="bottomToTop">
                        <img src="/images/logos/lidl-logo.svg" alt="LIDL Logo">
                    </figure>
                    <figure class="friends-logo waypoint" data="bottomToTop">
                        <img src="/images/logos/kroger-logo.svg" alt="Kroger Logo">
                    </figure>
                    <figure class="friends-logo waypoint" data="bottomToTop">
                        <img src="/images/logos/winndixie-logo.svg" alt="Winn Dixie Logo">
                    </figure>
                    <figure class="friends-logo waypoint" data="bottomToTop">
                        <img src="/images/logos/savealot-logo.svg" alt="Save alot Logo">
                    </figure>
                    <figure class="friends-logo waypoint" data="bottomToTop">
                        <img src="/images/logos/aldi-logo.svg" alt="ALDI Logo">
                    </figure>
                    <figure class="friends-logo waypoint" data="bottomToTop">
                        <img src="/images/logos/freshmarket-logo.svg" alt="The Fresh Market Logo">
                    </figure>
                </div>
            </div>
        </section>

        <footer class="section-footer">
            <div class="footer-left">
                <a href="/">
                    <figure class="footer-mf-logo">
                        <img src="/images/logos/mflogo.png" alt="Monty Farms Logo">
                    </figure>
                </a>
            </div>

            <div class="footer-center">
                <div class="footer-nav-wrapper">
                    <ul>
                        <li>
                            <a class="navLink" href="/">Home</a>
                        </li>
                        <li>
                            <a class="navLink" href="/about">About Us</a>
                        </li>
                        <li>
                            <a class="navLink" href="/products">Products</a>
                        </li>
                        <li>
                            <a class="navLink" href="/responsibilities">Responsibilities</a>
                        </li>
                        <li>
                            <a class="navLink" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>

                <p class="footerCopyright"><span id="footerCopy"></span> Monty Group All Rights Reserved.</p>
            </div>

            <div class="footer-right">
                <a href="http://www.montygroup.com">
                    <figure class="footer-mg-logo">
                        <img src="/images/logos/mglogo.png" alt="Monty Group Logo">
                    </figure>
                </a>
            </div>
        </footer>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="<%= assetsMap.about.js %>"></script>
    <!-- <script src="/js/about.js"></script> -->
</body>
</html>
