<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>contact route</title>

    <!-- <link rel="stylesheet" href="<%= assetsMap.contact.css %>"> -->
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>

    <div class="wrapper">
        <section class="section section-hero contact-view--hero">
            <nav class="main-navigation">
                <div class="navigation-logo-wrapper">
                    <a href="/">
                        <figure class="heading-logo-image">
                            <img src="/images/logos/mflogo.png" alt="Monty Farms Logo">
                        </figure>
                    </a>
                </div>

                <div class="navigation-list-wrapper">
                    <ul>
                        <li>
                            <a class="navLink" href="/">Home</a>
                        </li>
                        <li>
                            <a class="navLink" href="/about">About Us</a>
                        </li>
                        <li>
                            <a class="navLink" href="/products">Our Products</a>
                        </li>
                        <li>
                            <a class="navLink" href="/responsibilities">Responsibilities</a>
                        </li>
                        <li>
                            <a class="navLink" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="hero-background-container">
                <div rel="img" class="hero-background-image" aria-label="Contact Monty Farms now for all your enquiries and comments."></div>
            </div>

            <div class="hero-container">
                <div class="section-heading hero-heading">
                    <div class="heading-underline">
                        <div class="heading-container white-heading">
                           <h1>Contact Us</h1>
                        </div>
                    </div>
                    <div class="contact-hero-blurb">
                        <p class="hero-blurb heading-blurb">Monty Farms welcomes your enquiries and comments.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section contact-view--form">
            <div class="section-container">
                <div class="heading-block">
                    <div class="section-heading hero-heading">
                        <div class="heading-underline">
                            <div class="heading-container green-heading">
                               <h1>Get In touch</h1>
                            </div>
                        </div>
                        <p class="hero-blurb heading-blurb">Please email us at <a href="">info@montyfarms.com</a></p>
                    </div>
                </div>

                <div class="form-container">
                    <div class="contact-info">
                        <div class="contact">
                            <img src="/images/icons/contact-phone-icon.png" alt="Contact Monty Farms Phone">
                            <span>+504 99860261</span>
                        </div>
                        <div class="contact">
                            <img src="/images/icons/contact-fax-icon.png" alt="Contact Monty Farms Fax">
                            <span>+504 26721695</span>
                        </div>
                    </div>
                    <form action="">
                        <p>Or leave us a message below:</p>
                        <div class="form-group">
                            <input type="text" placeholder="NAME">
                        </div>

                        <div class="form-group">
                            <input type="email" placeholder="EMAIL">
                        </div>

                        <div class="form-group">
                            <textarea noresize cols="30" rows="10" placeholder="WRITE YOUR MESSAGE HERE"></textarea>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Send" class="button button-red-ghost">
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section class="section contact-view--images">
            <div class="section-container">
                <figure>
                    <img src="/images/contact/contact-farm1.png" alt="Monty Farm birds eye fields">
                </figure>

                <figure>
                    <img src="/images/contact/contact-farm2.png" alt="Monty Farm birds eye fields">
                </figure>

                <figure>
                    <img src="/images/contact/contact-farm3.png" alt="Monty Farm birds eye fields">
                </figure>
            </div>
        </section>

        <footer class="section-footer">
            <div class="footer-left">
                <figure class="footer-mf-logo">
                    <img src="/images/logos/mflogo.png" alt="Monty Farms Logo">
                </figure>
            </div>

            <div class="footer-center">
                <div class="footer-nav-wrapper">
                    <ul>
                        <li>
                            <a class="navLink" href="/">Home</a>
                        </li>
                        <li>
                            <a class="navLink" href="/about">About Us</a>
                        </li>
                        <li>
                            <a class="navLink" href="/products">Products</a>
                        </li>
                        <li>
                            <a class="navLink" href="/responsibilities">Responsibilities</a>
                        </li>
                        <li>
                            <a class="navLink" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>

                <p class="footerCopyright"><span id="footerCopy"></span> Monty Group All Rights Reserved.</p>
            </div>

            <div class="footer-right">
                <figure class="footer-mg-logo">
                    <img src="/images/logos/mglogo.png" alt="Monty Group Logo">
                </figure>
            </div>
        </footer>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <!-- <script src="<%= assetsMap.contact.js %>"></script> -->
    <script src="/js/contact.js"></script>
</body>
</html>
