<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home route</title>

    <link rel="stylesheet" href="<%= assetsMap.home.css %>">
</head>
<body>

    <div class="wrapper">
        <section class="section section-hero home-view--hero">
            <nav class="main-navigation">
                <div class="navigation-logo-wrapper">
                    <a href="/">
                        <figure class="heading-logo-image">
                            <img src="/images/logos/mflogo.png" alt="Monty Farms Logo">
                        </figure>
                    </a>
                </div>

                <div class="navigation-list-wrapper">
                    <ul>
                        <li>
                            <a class="navLink" href="/home">Home</a>
                        </li>
                        <li>
                            <a class="navLink" href="/about">About Us</a>
                        </li>
                        <li>
                            <a class="navLink" href="/products">Products</a>
                        </li>
                        <li>
                            <a class="navLink" href="/responsibilities">Responsibilities</a>
                        </li>
                        <li>
                            <a class="navLink" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <figure class="hero-background-image">
                <img src="/images/home/home-hero.png" alt="Monty Farms Landscape">
            </figure>

            <div class="hero-container">
                <div class="section-heading">
                    <div class="heading-container">
                       <h1 class="hero-heading white-heading">Welcome to Monty Farms!</h1>
                       <figure>
                           <img src="/images/icons/whiteleaf-icon.png" alt="">
                       </figure>
                    </div>
                    <p class="hero-blurb heading-blurb">Monty Farms is a leading international supplier of fresh fruits and vegetables. Monty Farms, a member of Monty Group, is a committed growing and processing operation, with an established track record and experience.</p>
                </div>
                <a class="button button-yellow">Learn More</a>
            </div>
        </section>

        <section class="section home-view--about">
            <div class="section-container">
                <div class="section-heading">
                    <div class="heading-container">
                       <h1 class="hero-heading sub-heading">Our Products</h1>
                       <figure>
                           <img src="/images/icons/greenleaf-icon.png" alt="">
                       </figure>
                    </div>
                    <p class="heading-blurb">Monty Farms products are made using only the finest, ripest produce cultivated from our farm.</p>
                </div>
            </div>
        </section>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="<%= assetsMap.home.js %>"></script>
</body>
</html>
