<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>products route</title>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css">

    <link rel="stylesheet" href="<%= assetsMap.products.css %>">
    <!-- <link rel="stylesheet" href="/css/products.css"> -->
</head>
<body>

    <div class="wrapper">
        <section class="section section-hero products-view--hero">
            <nav class="main-navigation">
                <div class="navigation-logo-wrapper">
                    <a href="/">
                        <figure class="heading-logo-image">
                            <img src="/images/logos/mflogo.png" alt="Monty Farms Logo">
                        </figure>
                    </a>
                </div>

                <button class="hamburger hamburger--slider">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>

                <div class="navigation-list-wrapper">
                    <ul>
                        <li>
                            <a class="navLink" href="/">Home</a>
                        </li>
                        <li>
                            <a class="navLink" href="/about">About Us</a>
                        </li>
                        <li>
                            <a class="navLink active" href="/products">Our Products</a>
                        </li>
                        <li>
                            <a class="navLink" href="/responsibilities">Responsibilities</a>
                        </li>
                        <li>
                            <a class="navLink" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="hero-background-container">
                <div rel="img" class="hero-background-image" aria-label="Contact Monty Farms now for all your enquiries and comments."></div>
            </div>

            <div class="hero-container">
                <div class="section-heading hero-heading">
                    <div class="heading-underline">
                        <div class="heading-container white-heading">
                           <h1>Our products</h1>
                        </div>
                    </div>
                    <p class="hero-blurb heading-blurb short">Monty Farms products are made using only the finest, ripest produce cultivated from our farm.</p>
                </div>
            </div>
        </section>

        <section class="section products-view--calendar">
            <figure class="about-border-blackseed">
                <img src="/images/home/home-border-blackseed.png" alt="">
            </figure>

            <div class="section-container">
                <div class="heading-block thin-block">
                    <div class="section-heading">
                        <div class="heading-container green-heading">
                           <h1>growing calendar</h1>
                        </div>
                    </div>
                </div>

                <div class="calendar-container">
                    <div class="desktop-calendar">
                        <div class="calendar-table">
                            <div class="calendar-head table-row">
                                <div class="cell-content"></div>
                                <div class="cell-content">JAN</div>
                                <div class="cell-content">FEB</div>
                                <div class="cell-content">MAR</div>
                                <div class="cell-content">APR</div>
                                <div class="cell-content">MAY</div>
                                <div class="cell-content">JUN</div>
                                <div class="cell-content">JUL</div>
                                <div class="cell-content">AUG</div>
                                <div class="cell-content">SEP</div>
                                <div class="cell-content">OCT</div>
                                <div class="cell-content">NOV</div>
                                <div class="cell-content">DEC</div>
                            </div>

                            <div class="calendar-body table-row">
                                <div class="cell-content">butternut squash</div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"></div>
                            </div>

                            <div class="calendar-body table-row">
                                <div class="cell-content">cucumber</div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                            </div>

                            <div class="calendar-body table-row">
                                <div class="cell-content">pineapple juice</div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"></div>
                            </div>

                            <div class="calendar-body table-row">
                                <div class="cell-content">plantain</div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                            </div>

                            <div class="calendar-body table-row">
                                <div class="cell-content">sweet onion</div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"></div>
                                <div class="cell-content"></div>
                            </div>

                            <div class="calendar-body table-row">
                                <div class="cell-content">sweet potato</div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                            </div>

                            <div class="calendar-body table-row">
                                <div class="cell-content">sweet potato flour</div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                                <div class="cell-content"><img src="/images/products/sprout.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section products-view--products">
            <div class="section-container">
                <div class="section-heading">
                    <div class="heading-container green-heading">
                       <h1 class="hero-heading">Our products</h1>
                    </div>
                </div>

                <div class="products-container">
                    <div class="products-buttons">
                        <div class="growing-buttons">
                            <div class="section-heading">
                                <div class="heading-container green-heading small-leaf">
                                   <h2>growing</h2>
                                </div>
                            </div>

                            <div class="buttons-container">
                                <div class="button-img"><img src="/images/products/product-icons/plantain-icon.svg" alt=""></div>
                                <div class="button-img"><img src="/images/products/product-icons/cucumber-icon.svg" alt=""></div>
                                <div class="button-img"><img src="/images/products/product-icons/eggplant-icon.svg" alt=""></div>
                                <div class="button-img"><img src="/images/products/product-icons/onion-icon.svg" alt=""></div>
                                <div class="button-img"><img src="/images/products/product-icons/sweetpo-icon.svg" alt=""></div>
                            </div>
                        </div>

                        <div class="processing-buttons">
                            <div class="section-heading">
                                <div class="heading-container green-heading small-leaf">
                                   <h2>processing</h2>
                                </div>
                            </div>

                            <div class="buttons-container">
                                <div class="button-img"><img src="/images/products/product-icons/pineapple-icon.svg" alt=""></div>
                                <div class="button-img"><img src="/images/products/product-icons/sweetpo-icon.svg" alt=""></div>
                            </div>
                        </div>
                    </div>

                    <div class="product-content-container" id="plantain-container">
                        <div class="product-hero">
                            <figure class="product-hero-img">
                                <img src="/images/products/product-assets/plantain/plantain.png" alt="">
                            </figure>
                            <div class="product-text">
                                <figure class="product-hero-text">
                                    <img src="/images/products/product-assets/plantain/plantain-text1.png" alt="">
                                </figure>
                                <figure class="product-hero-text">
                                    <img src="/images/products/product-assets/plantain/plantain-text2.png" alt="">
                                </figure>
                            </div>
                        </div>

                        <div class="product-content">
                            <div class="product-content-selections">
                                <div class="content-selection">
                                    <input name="plantain" id="plantain-size" type="radio">
                                    <label for="plantain-size">Size</label>
                                </div>
                                <div class="content-selection">
                                    <input name="plantain" id="plantain-pack" type="radio">
                                    <label for="plantain-pack">Packaging</label>
                                </div>
                                <div class="content-selection">
                                    <input name="plantain" id="plantain-ship" type="radio">
                                    <label for="plantain-ship">Shipping</label>
                                </div>
                            </div>

                        </div>

                        <div class="product-slider">
                            <div class="slider-main" id="plantain-main">
                                <div data-index="1">
                                    <img src="/images/products/product-assets/plantain/photos/plantain1.png" alt="One">
                                </div>
                                <div data-index="2">
                                    <img src="/images/products/product-assets/plantain/photos/plantain2.png" alt="One">
                                </div>
                                <div data-index="3">
                                    <img src="/images/products/product-assets/plantain/photos/plantain3.png" alt="One">
                                </div>
                                <div data-index="4">
                                    <img src="/images/products/product-assets/plantain/photos/plantain4.png" alt="One">
                                </div>
                                <div data-index="5">
                                    <img src="/images/products/product-assets/plantain/photos/plantain5.png" alt="One">
                                </div>
                            </div>


                            <div class="slider-nav-thumbnails" id="plantain-thumbnails">
                                <div><img src="/images/products/product-assets/plantain/photos/plantain1.png" slide="plantain_1">
                                </div>
                                <div><img src="/images/products/product-assets/plantain/photos/plantain2.png" slide="plantain_2">
                                </div>
                                <div><img src="/images/products/product-assets/plantain/photos/plantain3.png" slide="plantain_3">
                                </div>
                                <div><img src="/images/products/product-assets/plantain/photos/plantain4.png" slide="plantain_4">
                                </div>
                                <div><img src="/images/products/product-assets/plantain/photos/plantain5.png" slide="plantain_5">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="section products-view--process">
            <figure class="about-border-yellowseed">
                <img src="/images/home/home-border-yellowseed.png" alt="">
            </figure>

            <div class="section-container">
                <div class="heading-block thin-block">
                    <div class="section-heading">
                        <div class="heading-container green-heading">
                           <h1>our process</h1>
                        </div>
                        <p class="hero-blurb heading-blurb short">Monty Farms products are made using only the finest, ripest produce cultivated from our farm.</p>
                    </div>
                </div>

                <div class="process-container">
                    <div class="process-image-container">
                        <figure>
                            <img src="/images/products/process-procurement.svg" alt="Monty farms procurement">
                        </figure>

                        <figure>
                            <img src="/images/products/process-practices.svg" alt="Monty farms best practices">
                        </figure>

                        <figure>
                            <img src="/images/products/process-standards.svg" alt="Monty farms best quality standards">
                        </figure>

                        <figure>
                            <img src="/images/products/process-delivery.svg" alt="Monty farms delivery">
                        </figure>
                    </div>

                    <div class="process-content-container">
                        <div class="process-content">
                            <h3>procurement</h3>
                            <p>It all starts at the seed - Monty Farms is proud to procure the best seeds from the world and prime land allocation.</p>
                        </div>

                        <div class="process-content">
                            <h3>best practices</h3>
                            <p>At Monty Farms we emphasize sustainable farming techniques that preserve soil stability while yielding the best crops by using crop rotation and minimizing chemical use.</p>
                        </div>

                        <div class="process-content">
                            <h3>best quality standards</h3>
                            <p>Our commitment to adhering to strict standards is unwavering and we utilize third party independent audits of our farms on a regular basis to ensure our farms are running in at the highest quality to produce a consistent supply of our finest fruits and vegetables.</p>
                        </div>

                        <div class="process-content">
                            <h3>delivery</h3>
                            <p>After harvesting, sorting, storing and packaging, we ensure that only the freshest produce are delivered directly to your door.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="section-footer">
            <div class="footer-left">
                <a href="/">
                    <figure class="footer-mf-logo">
                        <img src="/images/logos/mflogo.png" alt="Monty Farms Logo">
                    </figure>
                </a>
            </div>

            <div class="footer-center">
                <div class="footer-nav-wrapper">
                    <ul>
                        <li>
                            <a class="navLink" href="/">Home</a>
                        </li>
                        <li>
                            <a class="navLink" href="/about">About Us</a>
                        </li>
                        <li>
                            <a class="navLink" href="/products">Products</a>
                        </li>
                        <li>
                            <a class="navLink" href="/responsibilities">Responsibilities</a>
                        </li>
                        <li>
                            <a class="navLink" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>

                <p class="footerCopyright"><span id="footerCopy"></span> Monty Group All Rights Reserved.</p>
            </div>

            <div class="footer-right">
                <a href="http://www.montygroup.com">
                    <figure class="footer-mg-logo">
                        <img src="/images/logos/mglogo.png" alt="Monty Group Logo">
                    </figure>
                </a>
            </div>
        </footer>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="<%= assetsMap.products.js %>"></script>
    <!-- <script src="/js/products.js"></script> -->
</body>
</html>
