<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>products route</title>

    <link rel="stylesheet" href="<%= assetsMap.products.css %>">
</head>
<body>

    <div class="wrapper">
        <section class="section section-hero products-view--hero">
            <nav class="main-navigation">
                <div class="navigation-logo-wrapper">
                    <a href="/">
                        <figure class="heading-logo-image">
                            <img src="/images/logos/mflogo.png" alt="Monty Farms Logo">
                        </figure>
                    </a>
                </div>

                <div class="navigation-list-wrapper">
                    <ul>
                        <li>
                            <a class="navLink" href="/">Home</a>
                        </li>
                        <li>
                            <a class="navLink" href="/about">About Us</a>
                        </li>
                        <li>
                            <a class="navLink" href="/products">Our Products</a>
                        </li>
                        <li>
                            <a class="navLink" href="/responsibilities">Responsibilities</a>
                        </li>
                        <li>
                            <a class="navLink" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="hero-background-container">
                <div rel="img" class="hero-background-image" aria-label="Contact Monty Farms now for all your enquiries and comments."></div>
            </div>

            <div class="hero-container">
                <div class="section-heading hero-heading">
                    <div class="heading-underline">
                        <div class="heading-container white-heading">
                           <h1>Our products</h1>
                        </div>
                    </div>
                    <p class="hero-blurb heading-blurb short">Monty Farms products are made using only the finest, ripest produce cultivated from our farm..</p>
                </div>
            </div>
        </section>

        <footer class="section-footer">
            <div class="footer-left">
                <figure class="footer-mf-logo">
                    <img src="/images/logos/mflogo.png" alt="Monty Farms Logo">
                </figure>
            </div>

            <div class="footer-center">
                <div class="footer-nav-wrapper">
                    <ul>
                        <li>
                            <a class="navLink" href="/">Home</a>
                        </li>
                        <li>
                            <a class="navLink" href="/about">About Us</a>
                        </li>
                        <li>
                            <a class="navLink" href="/products">Products</a>
                        </li>
                        <li>
                            <a class="navLink" href="/responsibilities">Responsibilities</a>
                        </li>
                        <li>
                            <a class="navLink" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>

                <p class="footerCopyright"><span id="footerCopy"></span> Monty Group All Rights Reserved.</p>
            </div>

            <div class="footer-right">
                <figure class="footer-mg-logo">
                    <img src="/images/logos/mglogo.png" alt="Monty Group Logo">
                </figure>
            </div>
        </footer>
    </div>

    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="<%= assetsMap.products.js %>"></script>
</body>
</html>
