@import 'global';

section.section-hero {
  .hero-background-container {
    .hero-background-image {
      background-image: url(/images/about/about-hero.jpg);
    }
  }
}

section.section.about-view--core {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 550px;
  background-color: $main-white;

  .core-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .core-contents {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      flex: 0 1 45%;
      margin-bottom: 60px;

      &#core-hectares figure {
        width: 200px;
      }

      &#core-countries figure {
        width: 95px;
      }

      &#core-crops figure {
        width: 105px;
      }

      &#core-scale figure {
        width: 100px;
      }

      .core-blurb {
        color: $main-green;

        .core-inline {
          display: inline-block;
        }

        h4 {
          font-size: 40px;
          font-family: $futura-med;
          line-height: 100%;

          &.large {
            font-size: 80px;
          }
        }

        h5 {
          font-size: 40px;
          font-family: $futura-med;
          line-height: 100%;
        }

        p {
          font-family: $futura-med;
        }
      }
    }
  }
}

section.section.about-view--values {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 720px;
  background-color: $main-green;

  p.hero-blurb {
    color: $main-white;
    max-width: 320px;
    width: 100%;
  }

  .values-carousel-section {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

    .chevron-border {
      border-color: transparent;
      height: 60px;
      width: 60px;

      .chevron {
        border-color: $main-red;
      }
    }

    .carousel-prev {
      transform: rotate(90deg);
    }

    .carousel-next {
      transform: rotate(-90deg);
    }
  }

  .values-carousel-container {
    height: 210px;
    width: 210px;
    position: relative;
    perspective: 1000px;
    margin: 0 auto 40px;

    .values-carousel {
      position: relative;
      display: block;
      height: 210px;
      width: 210px;
      transform: translateZ(-600px) rotateY(0deg);
      transform-style: preserve-3d;

      &.carousel-animate {
        transition: transform 1000ms cubic-bezier(.25, .1, .25, 1);
      }

      .values-slide {
        position: absolute;
        width: 210px;
        height: 210px;
        cursor: pointer;
        transition: 1000ms opacity cubic-bezier(.25, .1, .25, 1);

        &:nth-child(1) { transform: rotateY(0deg) translateZ(600px); }
        &:nth-child(2) { transform: rotateY(24deg) translateZ(600px); }
        &:nth-child(3) { transform: rotateY(48deg) translateZ(600px); }
        &:nth-child(4) { transform: rotateY(72deg) translateZ(600px); }
        &:nth-child(5) { transform: rotateY(96deg) translateZ(600px); }

        &:nth-child(6) { transform: rotateY(120deg) translateZ(600px); }
        &:nth-child(7) { transform: rotateY(144deg) translateZ(600px); }
        &:nth-child(8) { transform: rotateY(168deg) translateZ(600px); }
        &:nth-child(9) { transform: rotateY(192deg) translateZ(600px); }
        &:nth-child(10) { transform: rotateY(216deg) translateZ(600px); }
        &:nth-child(11) { transform: rotateY(240deg) translateZ(600px); }
        &:nth-child(12) { transform: rotateY(264deg) translateZ(600px); }
        &:nth-child(13) { transform: rotateY(288deg) translateZ(600px); }
        &:nth-child(14) { transform: rotateY(312deg) translateZ(600px); }
        &:nth-child(15) { transform: rotateY(336deg) translateZ(600px); }

        .slide-contents {
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: center;
          height: 210px;
          width: 210px;
          overflow: hidden;

          figure {
            width: 100%;
            margin: 0 auto;

            img {
              transition: 1000ms ease-out all;
              height: 68px;
            }
          }

          h3 {
            color: $main-white;
            font-size: 20px;
            text-align: center;
            margin-bottom: 20px;
            font-family: $futura-med;
          }
        }
      }
    }
  }

  .values-blurb-container {
    position: relative;
    min-height: 150px;
    width: 100%;
    text-align: center;
    margin: 0 auto;

    p.values-blurb {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      padding: 15px;
      transition-duration: 0ms;
      transition-property: all;
      transition-timing-function: ease-out;
    }
  }
}

section.section.about-view--people {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 890px;
  background-color: #fff;

  .section-heading {
    margin-bottom: 30px;
  }

  .hero-background-container {
    z-index: 9;

    .hero-background-image {
      &:before {
        background-color: rgba(255, 255, 255, .7);
      }
      filter: blur(3px);
      background-image: url(/images/about/bio/field.png);
    }
  }

  .people-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 875px;

    .people-banner {
      position: relative;
      max-width: 260px;
      width: 100%;
      margin: 17px 0;
      background-color: #173633;

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        background-image: url(/images/about/bio/tape.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 30px;
        width: 80px;
      }

      &:before {
        top: -15px;
        transform: translateX(-50%);
      }

      &:after {
        bottom: -15px;
        transform: translateX(-50%) rotateY(180deg);
      }

      .people-content {
        padding: 25px 15px;
      }

      h3 {
        font-family: $futura-med;
        text-align: center;
        color: orange;
        font-size: 20px;
        margin-bottom: 15px;
      }
      p {
        text-align: center;
        font-size: 11px;
        color: $main-white;
      }
    }
  }
}

section.section.about-view--certif {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 565px;
  background-color: #fff;

  .section-heading {
    margin-bottom: 30px;
  }

  .certif-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;

    .certif-icon {
      max-width: 130px;
      margin-bottom: 15px;

      &:nth-of-type(5n) {
        margin-right: 0;
      }
    }
  }
}

section.section.about-view--friends {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 765px;
  background-color: #eee;

  .section-container {
    padding-bottom: 120px;
  }

  .section-heading {
    margin-bottom: 30px;
  }

  .friends-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    max-width: 968px;
    margin: 0 auto;

    .friends-logo {
      display: flex;
      margin-bottom: 30px;
      flex: 0 1 20%;

      &:nth-of-type(5n) {
        margin-right: 0;
      }

      img {
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 950px) {
  section.section.about-view--values .values-carousel-section .chevron-border {
    display: none;
  }
}

@media (max-width: 768px) {
  section.section.about-view--values {
    min-height: 720px;

     .values-carousel-section .chevron-border {
      display: flex;
     }

    .values-carousel-container {
      overflow: hidden;

      .values-carousel {
        height: 210px;
        width: 210px;
        transform: translateZ(-600px) rotateY(24deg);

        &.carousel-animate {
          transition: transform 300ms ease;
        }

        .values-slide {
          width: 210px;
          height: 210px;

          .slide-contents {
            height: 210px;
            width: 210px;
          }
        }
      }
    }
  }

  section.section.about-view--people {
    min-height: auto;

    .section-heading {
    }

    .people-container {
      flex-flow: column;
      align-items: center;

      .people-banner {
        margin-bottom: 35px;

        h3 {
          font-size: 18px;
        }
        p {
          font-size: 11px;
        }
      }
    }
  }

  section.section.about-view--certif {
    min-height: auto;

  .certif-container {
    justify-content: center;
    max-width: none;

    .certif-icon {
      flex: 0 1 25%;
      margin-right: 5%;
      max-width: 130px;
      margin-bottom: 25px;
    }
  }
}

  section.section.about-view--friends {
    .friends-container {
      max-width: none;

      .friends-logo {
        margin-bottom: 20px;
        flex: 0 1 49%;
      }
    }
  }
}
