@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css);

@font-face {
  font-family: 'Futura-CondensedBold';
  src: url('../fonts/futura-condensed-bold.otf') format('truetype');
}

@font-face {
  font-family: 'Futura-CondensedMedium';
  src: url('../fonts/futura-condensed-medium.otf') format('truetype');
}

@font-face {
  font-family: 'Avenir-Book';
  src: url('../fonts/avenir-book.otf') format('truetype');
}

$futura-bold: 'Futura-CondensedBold', 'Arial', sans-serif;
$futura-med: 'Futura-CondensedMedium', 'Arial', sans-serif;
$avenir-book: 'Avenir-Book', 'Arial', sans-serif;

$main-white: #ffffff;
$main-black: #000;
$main-red: #ed3424;
$main-yellow: #fbb621;
$main-green: #579843;

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html, body {
  width: 100%;
  font-family: $avenir-book;
  font-weight: 400;
  color: $main-black;
  overflow-x: hidden;

  &.is-active {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
}

.flex-display {
  display: flex;

  &.position-center {
    align-items: center;
    justify-content: center;
  }

  &.space-around {
    align-items: center;
    justify-content: space-around;
  }

  &.direction-column {
    flex-direction: column;
  }
}

span.br {
  content: ' ';
  display: block;
}

span.br-mobile {
  content: ' ';
  display: inline-block;
  margin: 0 3px;
}

@media (max-width: 768px) {
  span.br {
    display: inline-block;
    margin: 0 5px;
  }

  span.br-mobile {
    content: ' ';
    display: block;
  }
}

@media (min-width: 768px) {
  .row-eq-height.sm-fix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

@media (min-width: 992px) {
  .row-eq-height.md-fix {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

/**
 * Text styles
 */

h1 {
  font-family: $futura-med;
  font-size: 46px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-family: $futura-med;
  font-size: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h3 {
  font-family: $futura-med;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $main-red;
}

p {
  font-family: $avenir-book;
  font-size: 12px;
  letter-spacing: 1px;
}

.section-heading {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  .heading-container {
    position: relative;
    margin: 15px 30px;

    &.small-leaf {
      &.white-heading,
      &.green-heading {
        &:before {
          height: 15px;
          width: 15px;
          right: -15px;
          top: -10px;
        }
      }
    }

    &.white-heading {
      color: $main-white;

      &:before {
        content: '';
        position: absolute;
        top: -12.5px;
        right: -30px;
        height: 25px;
        width: 25px;
        background-image: url(/images/icons/whiteleaf-icon.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    &.green-heading {
      color: $main-green;

      &:before {
        content: '';
        position: absolute;
        top: -12.5px;
        right: -30px;
        height: 25px;
        width: 25px;
        background-image: url(/images/icons/greenleaf-icon.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  p.heading-blurb {
    text-align: center;
    max-width: 580px;

    &.short {
      max-width: 380px;
    }
  }
}

/**
 * Button styles
 */

input[type="submit"],
a.button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 6px 20px;
  border: 3px solid transparent;
  min-width: 120px;
  border-radius: 25px;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: $futura-med;
  transition: .2s all ease;

  &.button-yellow {
    background-color: $main-yellow;
    color: $main-white;
    border-color: $main-yellow;

    &:hover {
      color: $main-black;
    }
  }

  &.button-red-ghost {
    color: $main-red;
    border: 3px solid $main-red;

    &:hover {
      color: $main-white;
      background-color: $main-red;
    }
  }
}

/**
 * Image/Icon styles
 */

figure {
  img {
    width: 100%;
    vertical-align: bottom;
  }
}

/**
 * Navigation Styles
 */
nav.main-navigation {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  align-items: center;
  justify-content: center;

  .navigation-logo-wrapper {
    position: absolute;
    margin: 0 50px;
    left: 50%;
    transform: translateX(-50%);

    figure.heading-logo-image {
      max-width: 50px;
    }
  }

  .navigation-list-wrapper {
    position: relative;
    display: block;
    margin-left: auto;
    padding-top: 20px;

    &:before {
      content: '';
      height: 5px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      background-color: $main-yellow;
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        position: relative;
        text-align: center;
        margin: 0 12px;

        a {
          color: $main-white;
          font-size: 18px;

          &.navLink {
            &:hover {
              color: $main-yellow;
            }
          }
        }
      }
    }
  }
}

a.navLink {
  font-family: $futura-bold;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: .2s all ease;
}

@media (max-width: 1440px) {
  nav.main-navigation {
    .navigation-logo-wrapper {
      position: relative;
      left: 0;
      transform: translateX(0);
    }
  }
}

/*
 * ==============================================
 *             HAMBURGER STYLE
 * ==============================================
 */

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  outline: none;
  border-radius: 5px;
  transform: scale(.7, .7);

  .hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;

    .hamburger-inner {
      display: block;
      top: 50%;
      margin-top: -2px;

      &:before,
      &:after {
        content: "";
        display: block;
      }

      &:before {
        top: -10px;
      }

      &:after {
        bottom: -10px;
      }
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color: $main-white;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 300ms;
      transition-timing-function: ease;
    }
  }

}

.hamburger.hamburger--slider {
  .hamburger-box {

    .hamburger-inner {
      top: 2px;

      &:before {
        top: 10px;
        transition-property: transform, opacity;
        transition-timing-function: ease;
        transition-duration: 300ms;
      }

      &:after {
        top: 20px;
      }
    }

  }

  &.mobile-active {
    .hamburger-box {
      .hamburger-inner {
        transform: translate3d(0, 10px, 0) rotate(45deg);

        &:before {
          transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
          opacity: 0;
        }

        &:after {
          transform: translate3d(0, -20px, 0) rotate(90deg);
        }
      }

    }
  }
}

/**
 * Section Styles
 */
section.section {
  position: relative;

  .section-container {
    position: relative;
    z-index: 10;
    width: 100%;
    padding: 15px;
  }

  .heading-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    height: 340px;
  }

  .section-fixed-image {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    figure {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  .hero-background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    .hero-background-image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .4);
      }
    }
  }
}

section.section-hero {
  min-height: 785px;
  height: 100vh;
  padding-top: 100px;
  display: flex;
  overflow: hidden;

  .hero-container {
    position: relative;
    height: 100%;
    width: 100%;

    .section-heading {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      &.hero-heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .heading-underline {
      display: flex;
      justify-content: center;
      max-width: 420px;
      width: 100%;
      border-bottom: 2px solid #fff;
      margin-bottom: 25px;
    }

    p.hero-blurb {
      color: #fff;
      margin-bottom: 20px;
    }
  }
}

/**
 * Footer Styles
 */
footer.section-footer {
  display: flex;
  height: 110px;
  justify-content: space-between;
  padding: 15px;

  figure.footer-mf-logo,
  figure.footer-mg-logo {
    width: 50px;
  }

  .footer-left,
  .footer-right {
    display: flex;
    align-items: center;
  }

  .footer-center {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;

    .footer-nav-wrapper {
      ul {
        display: flex;
        align-items: center;
        list-style: none;

        li {
          position: relative;
          text-align: center;
          margin: 0 12px;

          a {
            color: $main-black;
            font-size: 16px;

            &.navLink {
              &:hover {
              }
            }
          }
        }
      }
    }

    p.footerCopyright {
      font-size: 12px;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
