@import 'global';

section.section-hero {
  .hero-background-container {
    .hero-background-image {
      background-image: url(/images/home/home-hero.png);
    }
  }

  .hero-container {
    .heading-underline {
      width: 515px;
    }
  }
}

section.home-view--about {
  .section-container {
    padding: 80px 0 60px;
  }
}

section.home-view--products {

}

section.home-view--sneak {
  max-height: 100vh;
  min-height: 830px;

  .sneak-play-container {
    position: relative;
    border: 4px solid $main-white;
    border-radius: 50%;
    height: 54px;
    width: 54px;
    margin: 20px auto 0;
    cursor: pointer;
  }

  .section-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero-background-container {
    .hero-background-image {
      background-image: url(/images/home/home-hero.png);
    }
  }
}

section.home-view--findus {
  height: 200px;

  .section-container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .findus-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 85%;
    margin: 0 auto;

    figure {
      max-width: 150px;

      img {
        height: 50px;
      }
    }
  }
}

section.home-view--reachus {
  height: 200px;
  background-image: url(/images/home/home-reachus.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .3);
  }

  .section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .heading-container {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      h1 {
        margin-bottom: 30px;
      }
    }
  }
}
