@import 'global';

section.section-hero {
  .hero-background-container {
    .hero-background-image {
      background-image: url(/images/home/homepage-hero.jpg);
    }
  }

  .hero-container {
    .heading-underline {
      max-width: 515px;
    }
  }
}

section.home-view--about {
  figure.about-border-blackseed {
    position: absolute;
    top: 0;
    left: 5%;
    transform: translateY(-50%);
    max-width: 200px;
  }

  figure.about-border-yellowseed {
    position: absolute;
    top: 10%;
    right: 0;
    max-width: 200px;
    transform: translateX(45%);
  }

  figure.about-border-leaf {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(10%);

    img {
      filter: opacity(8%);
    }
  }

  .section-container {
    padding-bottom: 0;
  }

  .products-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto 40px;

    .product-container {
      flex: 0 1 45%;

      h2 {
        margin-bottom: 40px;
      }

      h3 {
        position: relative;
        font-size: 22px;
        text-align: center;

        &:before {
          content: '';
          position: absolute;
          top: -10px;
          left: 50%;
          width: 24px;
          height: 3px;
          background-color: $main-black;
          transform: translateX(-50%);
        }
      }

      .products {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;

        .product {
          position: relative;
          width: 30%;
          margin-right: 5%;
          margin-bottom: 20px;

          &:nth-of-type(3n) {
            margin-right: 0;
          }

          .product-content {
            display: flex;
            flex-flow: column;
            padding-top: 25px;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }

          figure.product-cup-img {
            position: relative;
            width: 100%;
            z-index: -1;
          }

          figure.product-fruit-img {
            position: relative;
            z-index: 1;
            margin: auto auto 0;

            &#sweetpotato { max-width: 170px; }
            &#sweetonion { max-width: 170px; }
            &#plantain { max-width: 170px; }
            &#cucumber { max-width: 170px; }
            &#butternut { max-width: 50px; }
            &#potatoflour { max-width: 170px; }
            &#juice { max-width: 120px; }
          }
        }
      }
    }
  }

  .products-seemore {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
  }
}

section.home-view--sneak {
  max-height: 100vh;
  min-height: 830px;

  .sneak-play-container {
    position: relative;
    border: 4px solid $main-white;
    border-radius: 50%;
    height: 54px;
    width: 54px;
    margin: 20px auto 0;
    cursor: pointer;
    transition: 200ms all ease;

    &:hover {
      border-color: $main-red;

      svg {
        stroke: $main-red;
      }
    }

    svg {
      fill: none;
      stroke: #fff;
      stroke-width: 4;
      transition: 200ms all ease;
    }
  }

  .section-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero-background-container {
    .hero-background-image {
      background-image: url(/images/home/home-video-preview.jpg);
    }
  }
}

section.home-view--findus {
  height: 200px;

  .section-container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .findus-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;

    figure {
      max-width: 150px;

      img {
        height: 50px;
      }
    }
  }
}

section.home-view--reachus {
  height: 200px;
  background-image: url(/images/home/home-reachus.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .3);
  }

  .section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .heading-container {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      h1 {
        margin-bottom: 30px;
      }
    }
  }
}

@media (min-width: 1200px) {
  section.home-view--about {
    figure.about-border-blackseed {
      max-width: 275px;
    }

    figure.about-border-yellowseed {
      max-width: 275px;
      transform: translateX(35%);
    }
  }
}

@media (max-width: 768px) {

  section.home-view--about {
    figure.about-border-blackseed {
      left: 5%;
      transform: translateY(-50%);
      max-width: 80px;
    }

    figure.about-border-yellowseed {
      max-width: 80px;
    }

    figure.about-border-leaf {
      width: 100%;
    }

    .products-container {
      flex-flow: column;

      .product-container {
        flex: 0 1 100%;

        h3 {
        }

        .products {

          .product {
            width: 35%;
            margin-right: 10%;

            &:nth-of-type(3) {
              margin-right: 10%;
            }

            &:nth-of-type(2n) {
              margin-right: 0;
            }

            &:nth-of-type(5) {
              margin-right: 0;
            }

            figure.product-fruit-img {

              &#juice {
                max-width: 75px;
              }
              &#butternut {
                max-width: 30px;
              }
            }
          }
        }
      }
    }
  }

  section.home-view--findus {
    height: 200px;

    .findus-container {
      flex-flow: row wrap;

      figure {
        flex: 0 1 25%;
        margin-bottom: 20px;

        img {
          height: 50px;
        }
      }

      .section-heading {
        flex-basis: 100%;
      }
    }
  }

  section.home-view--sneak {
    max-height: none;
    min-height: 420px;
  }
}

@media (max-width: 576px) {
  section.home-view--about {
    figure.about-border-blackseed {
      left: 5%;
      transform: translateY(-50%);
      max-width: 80px;
    }

    figure.about-border-yellowseed {
      max-width: 80px;
    }

    figure.about-border-leaf {
      width: 100%;
    }

    .products-container {
      flex-flow: column;

      .product-container {
        flex: 0 1 100%;

        h3 {
        }

        .products {

          .product {
            width: 35%;
            margin-right: 10%;

            &:nth-of-type(3) {
              margin-right: 10%;
            }

            &:nth-of-type(2n) {
              margin-right: 0;
            }

            &:nth-of-type(5) {
              margin-right: 0;
            }

            figure.product-fruit-img {

              &#juice {
                max-width: 75px;
              }
              &#butternut {
                max-width: 30px;
              }
            }
          }
        }
      }
    }
  }
}
