@import 'global';

section.section-hero {
  .hero-background-container {
    .hero-background-image {
      background-image: url(/images/home/homepage-hero.jpg);
    }
  }

  .hero-container {
    .heading-underline {
      // max-width: 515px;
    }
  }

  .chevron-border {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}

section.home-view--about {
  figure.about-border-blackseed {
    position: absolute;
    top: 0;
    left: 5%;
    transform: translateY(-50%);
    max-width: 300px;
  }

  figure.about-border-yellowseed {
    position: absolute;
    top: 10%;
    right: 0;
    max-width: 200px;
    transform: translateX(45%);
  }

  figure.about-border-leaf {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(10%);

    img {
      filter: opacity(8%);
    }
  }

  .heading-block.thin-block {
    height: 170px;
  }

  .section-container {
    padding-bottom: 0;
  }

  .products-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto 40px;

    .product-container {
      flex: 0 1 45%;

      h2 {
        margin-bottom: 40px;
      }

      h3 {
        position: relative;
        font-size: 30px;
        text-align: center;
        z-index: 2;
        line-height: 100%;

        &:before {
          content: '';
          position: absolute;
          top: -10px;
          left: 50%;
          width: 24px;
          height: 3px;
          background-color: $main-black;
          transform: translateX(-50%);
        }
      }

      .products {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;

        .product {
          position: relative;
          display: block;
          width: 30%;
          margin-left: 3%;
          margin-right: 3%;
          margin-bottom: 20px;

          &:hover figure.product-fruit-img {
            transform: translateX(-50%) scale(1.1);
          }

          .product-content {
            display: flex;
            flex-flow: column;
            padding-top: 30px;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }

          figure.product-cup-img {
            position: relative;
            width: 100%;
            z-index: -1;
          }

          figure.product-fruit-img {
            position: absolute;
            left: 50%;
            bottom: 0;
            z-index: 1;
            transform: translateX(-50%);
            transition: 300ms all ease;

            &#sweetpotato { width: 210px; }
            &#sweetonion { width: 210px; }
            &#plantain { width: 210px; }
            &#cucumber { width: 210px; }
            &#butternut { width: 150px; }
            &#potatoflour { width: 210px; }
            &#juice { width: 150px; }
          }
        }
      }
    }
  }

  .products-seemore {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 150px;
  }
}

section.home-view--sneak {
  max-height: 100vh;
  min-height: 830px;

  .sneak-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -1;
    transition: opacity 600ms cubic-bezier(.25, .1, .25, 1);

    &.active {
      opacity: 1;
      z-index: 99999;
    }

    .sneak-close {
      position: absolute;
      top: 25px;
      right: 25px;

      .hamburger {
        display: block;
      }
    }

    .video-container {
      position: relative;
      width: 80%;
      height: 0;
      padding-bottom: 56.25%;
      overflow: hidden;
      border-radius: 4px;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
  }

  .sneak-play-container {
    position: relative;
    border: 4px solid $main-white;
    border-radius: 50%;
    height: 54px;
    width: 54px;
    margin: 20px auto 0;
    cursor: pointer;
    transition: 200ms all ease;
    animation: blinking 2s linear infinite;
    transform: scale(1.7);

    svg {
      fill: none;
      stroke: #fff;
      stroke-width: 4;
      transition: 200ms all ease;
      animation: blinking 2s linear infinite;
    }
  }

  .section-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero-background-container {
    .hero-background-image {
      background-image: url(/images/home/home-video-preview.jpg);
    }
  }
}

@keyframes blinking {
  0% { border-color: $main-white; stroke: $main-white; }
  50% { border-color: $main-red; stroke: $main-red; }
  100% { border-color: $main-white; stroke: $main-white; }
}

section.home-view--findus {
  height: 200px;

  .section-container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .findus-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;

    figure {
      max-width: 150px;

      &:nth-of-type(1) { transition-delay: 0ms; }
      &:nth-of-type(2) { transition-delay: 200ms; }
      &:nth-of-type(3) { transition-delay: 400ms; }
      &:nth-of-type(4) { transition-delay: 600ms; }

      img {
        height: 50px;
        transform: scale(1.6);
      }
    }
  }
}

section.home-view--reachus {
  height: 200px;
  background-image: url(/images/home/home-reachus.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .3);
  }

  .section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .heading-container {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;

      h1 {
        margin-bottom: 30px;
      }
    }
  }

  .chevron-border {
    position: fixed;
    bottom: 130px;
    right: 40px;
    transform: translateX(300px) rotate(180deg);
    transition: 600ms all cubic-bezier(.25, .1, .25, 1);

    &.active {
      transform: translateX(0) rotate(180deg);
    }
  }
}

@media (min-width: 1200px) {
  section.home-view--about {
    figure.about-border-blackseed {
      max-width: 300px;
    }

    figure.about-border-yellowseed {
      max-width: 275px;
      transform: translateX(35%);
    }
  }
}

@media (max-width: 1200px) {
  section.home-view--about {
    .products-container {
      .product-container {
        h3 {
          font-size: 22px;
        }

        .products .product figure.product-fruit-img {
          &#sweetpotato { width: 180px; }
          &#sweetonion { width: 180px; }
          &#plantain { width: 180px; }
          &#cucumber { width: 180px; }
          &#butternut { width: 130px; }
          &#potatoflour { width: 180px; }
          &#juice { width: 130px; }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  section.home-view--about {
    figure.about-border-blackseed {
      max-width: 200px;
    }
  }
}

@media (max-width: 950px) {
  section.home-view--about {
    .products-container {
      .product-container {
        h3 {
          font-size: 20px;
        }

        .products .product figure.product-fruit-img {
          &#sweetpotato { width: 150px; }
          &#sweetonion { width: 150px; }
          &#plantain { width: 150px; }
          &#cucumber { width: 150px; }
          &#butternut { width: 110px; }
          &#potatoflour { width: 150px; }
          &#juice { width: 110px; }
        }
      }
    }
  }
}

@media (max-width: 820px) {
  section.home-view--about {
    .products-container {
      .product-container {
        h3 {
          font-size: 16px;
        }

        .products .product figure.product-fruit-img {
          &#sweetpotato { width: 130px; }
          &#sweetonion { width: 130px; }
          &#plantain { width: 130px; }
          &#cucumber { width: 130px; }
          &#butternut { width: 90px; }
          &#potatoflour { width: 130px; }
          &#juice { width: 90px; }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  section.home-view--about {
    figure.about-border-blackseed {
      max-width: 150px;
    }

    figure.about-border-yellowseed {
      max-width: 160px;
    }

    figure.about-border-leaf {
      width: 100%;
    }

    .products-container {
      flex-flow: column;

      .product-container {
        flex: 0 1 100%;

        .products {

          .product {
            width: 40%;
            margin-bottom: 25px;

            figure.product-cup-img {
              max-height: 140px;
              img {
                max-height: 140px;
              }
            }
          }
        }
      }
    }
  }

  section.home-view--findus {
    height: auto;

    .findus-container {
      flex-flow: row wrap;

      figure {
        flex: 0 1 50%;
        margin-bottom: 20px;

        img {
          height: 50px;
          transform: scale(1.4);
        }
      }

      .section-heading {
        flex-basis: 100%;
        margin-bottom: 30px;
      }
    }
  }

  section.home-view--sneak {
    max-height: none;
    min-height: 420px;
  }
}

@media (max-width: 576px) {
  nav.main-navigation .navigation-logo-wrapper figure.heading-logo-image {
    max-width: 80px;
  }

  section.section-hero .chevron-border {
    bottom: 20px;
    padding: 10px;
  }

  section.home-view--hero {
    .section-heading .heading-container.white-heading:before, .section-heading .heading-container.green-heading:before {
      top: 43px;
      right: 45px;
    }
  }

  section.home-view--about {
    figure.about-border-blackseed {
      max-width: 80px;
    }

    figure.about-border-yellowseed {
      max-width: 80px;
    }

    figure.about-border-leaf {
      width: 100%;
    }

    .products-container {
      flex-flow: column;

      .product-container {
        flex: 0 1 100%;

        &:nth-of-type(1) {
          margin-bottom: 30px;
        }

        h2 {
          margin-bottom: 20px;
        }

        h3 {
          font-size: 16px;
        }

        .products {

          .product {
            width: 35%;
            margin-right: 10%;

            &:nth-of-type(3) {
              margin-right: 10%;
            }

            &:nth-of-type(2n) {
              margin-right: 0;
            }

            &:nth-of-type(5) {
              margin-right: 0;
            }

            figure.product-fruit-img {

              &#sweetpotato { width: 140px; }
              &#sweetonion { width: 140px; }
              &#plantain { width: 140px; }
              &#cucumber { width: 140px; }
              &#butternut { width: 90px; }
              &#potatoflour { width: 140px; }
              &#juice { width: 80px; }
            }
          }
        }
      }
    }
  }

  section.home-view--sneak .sneak-play-container {
    transform: scale(1.4);
  }
}
