@import 'global';

section.section-hero {
  .hero-background-container {
    .hero-background-image {
      background-image: url(/images/products/product-hero.png);
    }
  }
}

section.products-view--calendar {
  figure.about-border-blackseed {
    position: absolute;
    top: 0;
    left: 5%;
    transform: translateY(-50%);
    max-width: 200px;
  }

  .heading-block.thin-block {
    height: 180px;
  }

  .desktop-calendar {
    width: 100%;
    max-width: 992px;
    margin: 40px auto;

    .calendar-table {
      .table-row {
        position: relative;
        display: flex;
        padding: 10px 0;

        .cell-content {
          display: flex;
          justify-content: center;
          flex: 0 1 6%;
          font-family: $futura-med;
          color: $main-green;

          &:first-of-type {
            font-size: 14px;
            flex-grow: 1;
          }
        }
      }

      .calendar-head {
        padding-bottom: 15px;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          height: 6px;
          width: 100%;
          border-radius: 6px;
          background-color: $main-green;
        }
      }

      .calendar-body {
        align-items: center;
        padding: 20px 0 10px;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 15px;
          background-image: url(/images/products/soil.png);
          background-position: 0 0;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .cell-content {
          font-family: $futura-med;
          color: $main-green;
          text-transform: uppercase;

          &:first-of-type {
            background-color: transparent;
            font-size: 28px;
            justify-content: flex-start;
          }

          img {
            max-width: 50px;
          }
        }
      }
    }
  }
}

section.products-view--products {
  background-color: #eee;

  .products-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 420px;
    margin: 0 auto;

    img {
      position: relative;
      width: 30px;
      height: 30px;
      cursor: pointer;

      &:hover {
        animation: bouncing .5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(.5, .05, 1, .5);
      }
    }
  }

  .product-content-container {
    max-width: 992px;
    width: 100%;
    margin: 20px auto;

    .product-hero {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      margin: 30px auto;

      .product-hero-img {
      }

      .product-hero-text {
        margin-bottom: 40px;
      }
    }

    .product-slider {
      .slider-main {
        width: 100%;
        margin-bottom: 20px;
        padding: 0 43px;

        .slick-next:before,
        .slick-prev:before {
          content: '';
        }

        .slick-next,
        .slick-prev {
          height: 40px;
          width: 40px;
        }

        .slick-next {
          right: 0;

          .chevron-border { transform: rotate(-90deg); }
        }

        .slick-prev {
          left: 0;

          .chevron-border { transform: rotate(90deg); }
        }

        .chevron-border {
          padding: 7px 8px;
        }
      }

      .slider-nav-thumbnails {
        width: 80%;
        margin: 0 auto;

        .slick-slide {
          padding: 15px;
          cursor: pointer;
        }
      }

      .slick-slide {
        outline: none;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

@keyframes bouncing {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(0, 5px, 0); }
}

section.products-view--process {
  .process-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 561px;
    margin: 0 auto;

    .process-image-container {
      width: 50%;
      padding-top: 60px;

      figure {
        margin: 0 auto 55px;
        width: 140px;
        height: 140px;

        img {
          height: 100%;
        }
      }
    }

    .process-content-container {
      position: relative;
      width: 50%;
      padding-top: 60px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 4px;
        border-radius: 4px;
        background-color: $main-green;
      }

      .process-content {
        position: relative;
        padding: 40px 0 40px 40px;

        &:before {
          content: '';
          position: absolute;
          top: 38px;
          left: -13px;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          background-color: #fff;
          border: 10px solid $main-green;
        }

        h3 {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  section.products-view--calendar {
    figure.about-border-blackseed {
      max-width: 275px;
    }
  }
}

@media (max-width: 768px) {
  section.products-view--calendar {
    figure.about-border-blackseed {
      left: 5%;
      transform: translateY(-50%);
      max-width: 80px;
    }
  }

  section.products-view--process {

    .process-container {
      width: 345px;

      .process-image-container {
        width: 40%;

        figure {
          max-width: 100px;

          &:nth-of-type(1) {
            margin-bottom: 90px;
          }

          &:nth-of-type(2) {
            margin-bottom: 140px;
          }

          &:nth-of-type(3) {
            margin-bottom: 190px;
          }
        }
      }

      .process-content-container {
        width: 60%;
      }
    }
  }
}
