@import 'global';

section.section-hero {
  .hero-background-container {
    .hero-background-image {
      background-image: url(/images/products/product-hero.png);
    }
  }
}

section.products-view--calendar {
  figure.about-border-blackseed {
    position: absolute;
    top: 0;
    left: 5%;
    transform: translateY(-50%);
    max-width: 250px;
  }

  .heading-block.thin-block {
    height: 180px;
  }

  .mobile-calendar {
    display: none;

    .calendar-tab {
      overflow: hidden;

      input[name="calendar"] {
        display: none;

        &:checked {
          & ~ label {
            background-color: rgba(81, 118, 64, 1);
            color: $main-white;

            &:after {
              border-top-color: $main-white;
            }
          }

          & ~ .tab-content {
            height: 45px;
          }
        }
      }
      label {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 15px;
        line-height: 1;
        font-size: 28px;
        font-family: $futura-med;
        background-color: rgba(239, 239, 239, 1);
        color: rgba(132, 132, 132, 1);
        text-transform: uppercase;
        cursor: pointer;
        transition: all 400ms cubic-bezier(0.865, 0.14, 0.095, 0.87);

        &:after {
          content: '';
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;

          border-top: 10px solid rgba(132, 132, 132, 1);
        }
      }

      .tab-content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: rgba(164, 184, 155, 1);
        height: 0;
        transition: all 400ms cubic-bezier(0.865, 0.14, 0.095, 0.87);

        h2 {
          text-align: right;
          text-transform: none;
          color: rgba(81, 118, 64, 1);
          font-family: $avenir-book;
          font-size: 24px;
          line-height: 1;
          padding: 10px 30px 10px 0;
        }
      }
    }
  }

  .desktop-calendar {
    width: 100%;
    max-width: 992px;
    margin: 40px auto;

    .calendar-table {
      .table-row {
        position: relative;
        display: flex;
        padding: 10px 0;

        .cell-content {
          display: flex;
          justify-content: center;
          flex: 0 1 6%;
          font-family: $futura-med;
          color: $main-green;
        }

        div.cell-content:first-of-type {
          font-size: 14px;
          flex-grow: 1;
        }
      }

      .calendar-head {
        padding-bottom: 15px;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          height: 6px;
          width: 100%;
          border-radius: 6px;
          background-color: $main-green;
        }
      }

      .calendar-body {
        align-items: center;
        padding: 20px 0 10px;
        overflow: hidden;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 15px;
          background-image: url(/images/products/soil.png);
          background-position: 0 0;
          background-size: cover;
          background-repeat: no-repeat;
        }

        &.waypoint {
          opacity: 1;
        }

        &.inView {
          .cell-content.cell-sprout {
            transform: translateY(0);
          }
        }

        .cell-content {
          display: block;
          font-family: $futura-med;
          color: $main-green;
          text-transform: uppercase;

          &.cell-sprout {
            transform: translateY(100px);
            transition: 1000ms all cubic-bezier(.25, .1, .25, 1);
          }

          img {
            max-width: 50px;
          }
        }

        div.cell-content:first-of-type {
          background-color: transparent;
          font-size: 28px;
          justify-content: flex-start;
        }

        span.cell-sprout {
          &:nth-of-type(1) { transition-delay: 0ms; }
          &:nth-of-type(2) { transition-delay: 100ms; }
          &:nth-of-type(3) { transition-delay: 200ms; }
          &:nth-of-type(4) { transition-delay: 300ms; }
          &:nth-of-type(5) { transition-delay: 400ms; }
          &:nth-of-type(6) { transition-delay: 500ms; }
          &:nth-of-type(7) { transition-delay: 600ms; }
          &:nth-of-type(8) { transition-delay: 700ms; }
          &:nth-of-type(9) { transition-delay: 800ms; }
          &:nth-of-type(10) { transition-delay: 900ms; }
          &:nth-of-type(11) { transition-delay: 1000ms; }
          &:nth-of-type(12) { transition-delay: 1100ms; }
        }
      }
    }
  }
}

section.products-view--products {

  .products-buttons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 750px;
    width: 100%;

    .products-buttons-container {
      margin: 0 20px;
      width: 200px;
    }

    .dotted-wrapper {
      position: absolute;
      left: 0;
      transform: translate(25px, 55px);

      figure {
        width: 150px;
      }

      p {
        transform: translateX(-90%);
        display: inline-block;
      }
    }

    .buttons-container {
      display: flex;
      justify-content: center;
    }

    .button-img {
      position: relative;
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin: 0 5px;

      &.active,
      &:hover {
        animation: bouncing .5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(.5, .05, 1, .5);

        &:before {
          opacity: 1;
        }
      }

      &:before {
        content: '';
        opacity: 0;
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
        height: 7px;
        width: 100%;
        background-image: url(/images/products/product-icons/product-underline.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: 200ms all ease;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .products-main-wrapper {
    position: relative;
    max-width: 992px;
    margin: 20px auto;
  }

  .product-content-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;

    &.active {
      position: relative;
      opacity: 1;
      z-index: 1;
    }

    .product-name {
      h3 {
        font-size: 32px;
        text-align: center;
        margin: 45px 0 0;
      }
    }

    .product-hero {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column nowrap;
      width: 100%;
      margin: 30px auto;
      padding: 0 50px;

      .product-hero-img {
        width: 100%;
        order: 2;
      }

      .product-text {
        display: flex;
        justify-content: space-between;
        width: 100%;
        order: 1;
      }

      .product-hero-text {
        transition: 1000ms all ease;

        &:nth-of-type(1),
        &:nth-of-type(2) {
          flex: 0 1 45%;
        }

        &.waypoint {
          opacity: 0;
          transition-delay: 400ms;

          &.inView {
            opacity: 1;
          }
        }

      }
    }

    .product-content {
      margin: 70px 0;

      .product-content-selections {
        position: relative;
        max-width: 520px;
        margin: 0 auto;
      }

      .content-selection {
        margin-bottom: 20px;

        input[type="radio"] {
          position: relative;
          left: -9999px;
          opacity: 0;
          display: none;

          &:checked {
            & + label {
              color: $main-green;

              &:before {
                opacity: 1;
              }
            }

            & ~ .content-text {
              opacity: 1;
            }
          }
        }

        label {
          position: relative;
          font-family: $futura-med;
          font-size: 24px;
          text-transform: uppercase;
          cursor: pointer;
          transition: all 400ms cubic-bezier(0.865, 0.14, 0.095, 0.87);

          &:hover {
            color: $main-green;

            &:before {
              opacity: 1;
            }
          }

          &:before {
            content: '';
            opacity: 0;
            position: absolute;
            bottom: -8px;
            left: 50%;
            transform: translateX(-50%);
            height: 7px;
            width: 70px;
            background-image: url(/images/products/product-icons/product-underline.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            transition: 200ms all ease;
          }
        }

        .content-text {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          opacity: 0;
          width: 300px;
          transition: all 400ms cubic-bezier(0.865, 0.14, 0.095, 0.87);

          h3 {
            color: $main-green;
            padding-top: 12px;
            padding-bottom: 3px;
            text-transform: none;
          }

          p {
            color: $main-green;
            font-size: 13px;
            padding-bottom: 4px;
          }

          b {
            font-family: $avenir-black;
          }
        }
      }
    }

    .product-slider {
      .slider-main {
        width: 100%;
        margin-bottom: 20px;
        padding: 0 50px;

        .slick-next:before,
        .slick-prev:before {
          content: '';
        }

        .slick-next,
        .slick-prev {
          height: 40px;
          width: 40px;
        }

        .slick-next {
          right: 0;

          .chevron-border { transform: rotate(-90deg); }
        }

        .slick-prev {
          left: 0;

          .chevron-border { transform: rotate(90deg); }
        }

        .chevron-border {
          padding: 7px 8px;
        }
      }

      .slider-nav-thumbnails {
        width: 80%;
        margin: 0 auto;

        .slick-slide {
          padding: 15px;
          cursor: pointer;
        }
      }

      .slick-slide {
        outline: none;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

@keyframes bouncing {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(0, 5px, 0); }
}

section.products-view--process {
  figure.about-border-yellowseed {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-45%) rotate(180deg);
  }

  .process-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 560px;
    margin: 0 auto;

    .process-image-container {
      width: 50%;
      padding-top: 60px;
    }

    .process-content-container {
      position: relative;
      width: 50%;
      padding-top: 60px;
      margin-left: 50%;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 4px;
        border-radius: 4px;
        background-color: $main-green;
      }

      .process-content {
        position: relative;
        padding: 20px 0 20px 40px;

        &.inView {
          &:before,
          figure.product-content-image {
            opacity: 1;
            transform: translateY(0);
          }
        }

        &:before {
          content: '';
          position: absolute;
          opacity: 0;
          top: 18px;
          left: -13px;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          background-color: #fff;
          border: 10px solid $main-green;
          transition: 1000ms all ease;
        }

        h3 {
          margin-bottom: 20px;
        }

        figure.product-content-image {
          position: absolute;
          width: 140px;
          height: 140px;
          top: 20px;
          left: -100%;
          margin-left: 25%;
          opacity: 0;
          transform: translateY(100px);
          transition: 1000ms all ease;

          img {
            height: 100%;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  section.products-view--calendar {
    figure.about-border-blackseed {
      max-width: 275px;
    }
  }
}

@media (max-width: 768px) {
  section.products-view--calendar {
    .desktop-calendar {
      display: none;
    }

    .mobile-calendar {
      display: block;
    }

    figure.about-border-blackseed {
      left: 5%;
      transform: translateY(-50%);
      max-width: 80px;
    }
  }

  section.products-view--process {

    .process-container {
      width: 100%;

      .process-content-container {
        width: 60%;
        margin-left: 40%;

        .process-content figure.product-content-image {
          margin-left: 20%;
          left: -66.666%;
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  section.products-view--products {
    .products-buttons {
      .dotted-wrapper {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  section.products-view--calendar {
    .heading-block.thin-block {
      height: auto;
      padding-top: 50px;
    }
  }

  section.products-view--products {
    .section-container {
      padding-top: 50px;
    }

    .products-buttons {
      .dotted-wrapper {
        display: none;
      }
    }
  }

  section.products-view--process {
    .heading-block.thin-block {
      height: auto;
      padding-bottom: 50px;
    }

    figure.about-border-yellowseed {
      max-width: 100px;
      top: -30px;
    }
  }
}

@media (max-width: 576px) {
  section.products-view--products {
    .products-buttons {
      flex-flow: column;

      .growing-buttons {
        margin-bottom: 25px;
      }
    }

    .product-content-container {
      .product-name h3 {
        font-size: 42px;
      }

      .product-hero {
        width: 100%;
        padding: 0;

        .product-hero-img {
          flex: 0 1 100%;
        }

        .product-text {
          flex: 0 1 100%;
          flex-flow: column nowrap;
          align-items: center;

          .product-hero-text {
            &:nth-of-type(1),
            &:nth-of-type(2) {
              width: 75%;
            }
          }
        }
      }

      .product-content {
        margin: 0;
        margin-bottom: 50px;

        .content-selection {
          position: relative;
          margin: 0 -15px;

          &:nth-of-type(1) {
            background-color: rgba(242, 183, 72, 1);
            label:after { border-top-color: rgba(242, 183, 72, 1); }
          }
          &:nth-of-type(2) {
            background-color: rgba(229, 135, 62, 1);
            label:after { border-top-color: rgba(229, 135, 62, 1); }
          }
          &:nth-of-type(3) {
            background-color: rgba(194, 83, 47, 1);
            label:after { border-top-color: rgba(194, 83, 47, 1); }
          }

          input[type="radio"] {

            &:checked {
              & + label {
                color: $main-white;
                padding: 20px 30px 0 30px;
              }

              & ~ .content-text {
                opacity: 1;
                max-height: 300px;
                padding-bottom: 20px;
              }

              & ~ .content-selection:after {
                left: 0;
              }
            }
          }

          label {
            position: relative;
            display: block;
            color: $main-white;
            font-size: 32px;
            padding: 0 30px;
            z-index: 2;

            &:after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translate(-50%, 100%);
              width: 0;
              height: 0;
              border-left: 20px solid transparent;
              border-right: 20px solid transparent;
              border-top: 20px solid transparent;
              z-index: 1;
            }

            &:before {
              display: none;
            }

            &:hover {
              color: $main-white;
            }
          }

          .content-text {
            position: relative;
            top: 0;
            transform: translateY(0);
            width: auto;
            max-height: 0;
            overflow: hidden;

            h3, p {
              color: $main-white;
              padding-left: 30px;
            }
          }
        }
      }

      .product-slider {
        margin: 0 -15px;

        .slider-main {
          padding: 0;

          .slick-prev,
          .slick-next {
            bottom: -18px;
            top: auto;
            transform: translateY(100%) scale(.7);
            .chevron-border {
              border-color: transparent;
            }
          }
        }

         .slider-nav-thumbnails {
          .slick-slide {
            padding: 5px;
          }
        }
      }
    }
  }

  section.products-view--process {

    .process-container {
      .process-content-container {
        .process-content figure.product-content-image {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  section.products-view--process {
    .process-container {
      .process-content-container {
        .process-content figure.product-content-image {
          margin-left: 10%;
        }
      }
    }
  }
}
