@import 'global';

section.section-hero {
  .hero-background-container {
    .hero-background-image {
      background-image: url(/images/products/product-hero.png);
    }
  }
}

section.products-view--calendar {
  figure.about-border-blackseed {
    position: absolute;
    top: 0;
    left: 5%;
    transform: translateY(-50%);
    max-width: 200px;
  }

  .heading-block.thin-block {
    height: 180px;
  }

  .desktop-calendar {
    width: 100%;
    max-width: 992px;
    margin: 40px auto;

    .calendar-table {
      .table-row {
        position: relative;
        display: flex;
        padding: 10px 0;

        .cell-content {
          display: flex;
          justify-content: center;
          flex: 0 1 6%;
          font-family: $futura-med;
          color: $main-green;

          &:first-of-type {
            font-size: 14px;
            flex-grow: 1;
          }
        }
      }

      .calendar-head {
        padding-bottom: 15px;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          height: 6px;
          width: 100%;
          border-radius: 6px;
          background-color: $main-green;
        }
      }

      .calendar-body {
        align-items: center;
        padding: 20px 0 10px;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 15px;
          background-image: url(/images/products/soil.png);
          background-position: 0 0;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .cell-content {
          font-family: $futura-med;
          color: $main-green;
          text-transform: uppercase;

          &:first-of-type {
            background-color: transparent;
            font-size: 28px;
            justify-content: flex-start;
          }

          img {
            max-width: 50px;
          }
        }
      }
    }
  }
}

section.products-view--products {

  .products-buttons {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 750px;
    width: 100%;

    .dotted-wrapper {
      position: absolute;
      right: 0;
      transform: translateX(-175px);

      figure {
        width: 150px;
      }

      p {
        transform: translateX(-90%);
        display: inline-block;
      }
    }

    .buttons-container {
      display: flex;
      justify-content: center;
    }

    .button-img {
      position: relative;
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin: 0 5px;

      &.active,
      &:hover {
        animation: bouncing .5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(.5, .05, 1, .5);

        &:before {
          opacity: 1;
        }
      }

      &:before {
        content: '';
        opacity: 0;
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
        height: 7px;
        width: 100%;
        background-image: url(/images/products/product-icons/product-underline.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: 200ms all ease;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .products-main-wrapper {
    position: relative;
    max-width: 992px;
    margin: 20px auto;
  }

  .product-content-container {
    position: absolute;
    width: 100%;
    opacity: 0;

    &.active {
      position: relative;
      opacity: 1;
    }

    .product-hero {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      margin: 30px auto;

      .product-hero-img {
      }

      .product-hero-text {
        margin-left: 20px;
        margin-bottom: 40px;
        opacity: 0;
        transition: 1000ms all ease;
        transition-delay: 400ms;

        &.inView {
          opacity: 1;
        }
      }
    }

    .product-content {
      margin: 70px 0;

      .product-content-selections {
        position: relative;
        max-width: 520px;
        margin: 0 auto;
      }

      .content-selection {
        margin-bottom: 20px;

        input[type="radio"] {
          position: relative;
          left: -9999px;
          opacity: 0;

          &:checked {
            & + label {
              color: $main-green;

              &:before {
                opacity: 1;
              }
            }

            & ~ .content-text {
              opacity: 1;
            }
          }
        }

        label {
          position: relative;
          font-family: $futura-med;
          font-size: 24px;
          text-transform: uppercase;
          cursor: pointer;

          &:hover {
            color: $main-green;

            &:before {
              opacity: 1;
            }
          }

          &:before {
            content: '';
            opacity: 0;
            position: absolute;
            bottom: -8px;
            left: 50%;
            transform: translateX(-50%);
            height: 7px;
            width: 70px;
            background-image: url(/images/products/product-icons/product-underline.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            transition: 200ms all ease;
          }
        }

        .content-text {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          opacity: 0;
          width: 300px;

          h3 {
            color: $main-green;
            margin-top: 12px;
            margin-bottom: 3px;
            text-transform: none;
          }

          p {
            color: $main-green;
            font-size: 12px;
            margin-bottom: 3px;
          }
        }
      }
    }

    .product-slider {
      .slider-main {
        width: 100%;
        margin-bottom: 20px;
        padding: 0 50px;

        .slick-next:before,
        .slick-prev:before {
          content: '';
        }

        .slick-next,
        .slick-prev {
          height: 40px;
          width: 40px;
        }

        .slick-next {
          right: 0;

          .chevron-border { transform: rotate(-90deg); }
        }

        .slick-prev {
          left: 0;

          .chevron-border { transform: rotate(90deg); }
        }

        .chevron-border {
          padding: 7px 8px;
        }
      }

      .slider-nav-thumbnails {
        width: 80%;
        margin: 0 auto;

        .slick-slide {
          padding: 15px;
          cursor: pointer;
        }
      }

      .slick-slide {
        outline: none;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

@keyframes bouncing {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(0, 5px, 0); }
}

section.products-view--process {
  figure.about-border-yellowseed {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 200px;
    transform: translateX(-45%) rotate(180deg);
  }

  .process-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 561px;
    margin: 0 auto;

    .process-image-container {
      width: 50%;
      padding-top: 60px;

      figure {
        margin: 0 auto 55px;
        width: 140px;
        height: 140px;

        img {
          height: 100%;
        }
      }
    }

    .process-content-container {
      position: relative;
      width: 50%;
      padding-top: 60px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 4px;
        border-radius: 4px;
        background-color: $main-green;
      }

      .process-content {
        position: relative;
        padding: 40px 0 40px 40px;

        &.inView:before {
          opacity: 1;
        }

        &:before {
          content: '';
          position: absolute;
          opacity: 0;
          top: 38px;
          left: -13px;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          background-color: #fff;
          border: 10px solid $main-green;
          transition: 1000ms all ease;
        }

        h3 {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  section.products-view--calendar {
    figure.about-border-blackseed {
      max-width: 275px;
    }
  }
}

@media (max-width: 768px) {
  section.products-view--calendar {
    figure.about-border-blackseed {
      left: 5%;
      transform: translateY(-50%);
      max-width: 80px;
    }
  }

  section.products-view--process {

    .process-container {
      width: 345px;

      .process-image-container {
        width: 40%;

        figure {
          max-width: 100px;

          &:nth-of-type(1) {
            margin-bottom: 90px;
          }

          &:nth-of-type(2) {
            margin-bottom: 140px;
          }

          &:nth-of-type(3) {
            margin-bottom: 190px;
          }
        }
      }

      .process-content-container {
        width: 60%;
      }
    }
  }
}

@media (max-width: 768px) {
  section.products-view--products {
    .products-buttons {
      .dotted-wrapper {
        display: none;
      }
    }

  }

}
