@import 'global';

section.section {

  .section-fixed-image {
    height: 100vh;
    height: calc(100vh - 340px);
    min-height: 568px;
    &.parallax-community {
      background-image: url(/images/responsibilities/community-hero.png);
    }

    &.parallax-employees {
      background-image: url(/images/responsibilities/employees-hero.png);
    }

    &.parallax-environment {
      background-image: url(/images/responsibilities/environment-hero.png);
    }
  }
}

section.section-hero {
  .hero-background-container {
    .hero-background-image {
      background-image: url(/images/responsibilities/responsibilities-hero.png);
    }
  }
}
