@import 'global';

section.section {

  .section-container {
    padding: 0;
  }

  .heading-block {
    height: auto;
    min-height: 340px;
    padding: 25px 0;
  }

  .section-fixed-image {
    position: static;
    height: 66vh;
    max-height: 468px;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);

    &.parallax-community {
      background-image: url(/images/responsibilities/community-hero.png);
    }

    &.parallax-employees {
      background-image: url(/images/responsibilities/employees-hero.png);
      background-position: 50% 315px;
    }

    &.parallax-environment {
      background-image: url(/images/responsibilities/environment-hero.png);
    }
  }
}

section.section-hero {
  .hero-background-container {
    .hero-background-image {
      background-image: url(/images/responsibilities/responsibilities-hero.jpg);
    }
  }
}

@media (max-width: 576px) {
  section.section {
    .heading-block {
      height: auto;
      padding: 40px 25px;
      padding-bottom: 55px;
      min-height: 0;
    }

    .section-fixed-image {
      height: auto;
      min-height: 260px;
      background-attachment: initial;
    }
  }

  section.section .section-fixed-image.parallax-employees {
    background-position: center;
    background-size: cover;
  }

  section.responsibilities-view--environment {
    .section-heading .heading-container.white-heading:before, .section-heading .heading-container.green-heading:before {
      right: 10px;
    }
  }
}
